In [7]:
import pandas  as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import json
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mysql+pymysql://root:@localhost:3306/unicef_db", echo=True)

In [4]:
crenas = pd.read_excel('Datasets/Base-Nut-Crenas.xlsx')

In [3]:
crenas

NameError: name 'crenas' is not defined

In [12]:
crenas['annee'] = crenas['periode'].dt.year
crenas['moi'] = crenas['periode'].dt.month

In [13]:
crenas.head()

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,crenas,Amboasary Sud,NaN,200.0,43.0,34.0,0.0,9.0,8.0,2020,1
1,2020-02-01,Anosy,crenas,Amboasary Sud,NaN,256.0,114.0,107.0,2.0,5.0,7.0,2020,2
2,2020-03-01,Anosy,crenas,Amboasary Sud,NaN,244.0,197.0,178.0,3.0,16.0,3.0,2020,3
3,2020-04-01,Anosy,crenas,Amboasary Sud,NaN,302.0,336.0,319.0,1.0,16.0,5.0,2020,4
4,2020-05-01,Anosy,crenas,Amboasary Sud,NaN,250.0,264.0,252.0,1.0,11.0,11.0,2020,5

In [14]:
crenas['region'].value_counts()

region
Atsimo Andrefana     450
Androy               232
Atsimo Atsinanana    230
Anosy                174
Vatovavy             138
Fitovinany           138
Name: count, dtype: int64

In [25]:
crenas = crenas.sort_values(by=['annee', 'moi'], ascending=[True, True])

In [26]:
crenas['district'].unique()

array(['Amboasary Sud', 'Taolagnaro', 'Ambovombe Androy', 'Bekily',
       'Betioky Atsimo', 'Tsihombe', 'Beloha Androy', 'Ampanihy Ouest',
       'Toliara II', 'Betroka', 'Befotaka', 'Farafangana', 'Ifanadiana',
       'Ikongo (Fort_Carnot)', 'Manakara Atsimo', 'Mananjary',
       'Midongy du Sud', 'Nosy Varika', 'Vangaindrano', 'Vohipeno',
       'Vondrozo', 'Ankazoabo Atsimo', 'Benenitra', 'Beroroha', 'Morombe',
       'Sakaraha', 'Toliara I'], dtype=object)

In [27]:
filtered = crenas[crenas['district'] == 'Manakara Atsimo']

In [29]:
filtered.head()

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_autres_sorties,annee,moi
551,2021-01-01,Fitovinany,crenas,Manakara Atsimo,NaN,36.0,19.0,8.0,NaN,11.0,NaN,2021,1
552,2021-02-01,Fitovinany,crenas,Manakara Atsimo,NaN,31.0,11.0,7.0,NaN,4.0,NaN,2021,2
553,2021-03-01,Fitovinany,crenas,Manakara Atsimo,NaN,37.0,9.0,7.0,NaN,2.0,NaN,2021,3
554,2021-04-01,Fitovinany,crenas,Manakara Atsimo,NaN,18.0,7.0,6.0,NaN,1.0,NaN,2021,4
555,2021-05-01,Fitovinany,crenas,Manakara Atsimo,NaN,10.0,5.0,3.0,NaN,2.0,NaN,2021,5

In [32]:
filtered.groupby(['annee', 'moi'])['tot_adm_proj']

AttributeError: 'SeriesGroupBy' object has no attribute 'reset_index'

In [33]:
crenas

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,crenas,Amboasary Sud,NaN,200.0,43.0,34.0,0.0,9.0,8.0,2020,1
31,2020-01-01,Anosy,crenas,Taolagnaro,NaN,73.0,32.0,19.0,1.0,12.0,4.0,2020,1
62,2020-01-01,Androy,crenas,Ambovombe Androy,NaN,177.0,127.0,99.0,0.0,28.0,17.0,2020,1
93,2020-01-01,Androy,crenas,Bekily,NaN,202.0,151.0,145.0,0.0,6.0,4.0,2020,1
124,2020-01-01,Atsimo Andrefana,crenas,Betioky Atsimo,NaN,194.0,98.0,96.0,0.0,2.0,2.0,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,2024-12-01,Atsimo Andrefana,crenas,Benenitra,NaN,44.0,26.0,19.0,NaN,7.0,2.0,2024,12
1358,2024-12-01,Atsimo Andrefana,crenas,Beroroha,NaN,43.0,42.0,40.0,NaN,2.0,NaN,2024,12
1359,2024-12-01,Atsimo Andrefana,crenas,Morombe,NaN,135.0,102.0,102.0,NaN,NaN,NaN,2024,12
1360,2024-12-01,Atsimo Andrefana,crenas,Sakaraha,NaN,206.0,99.0,74.0,11.0,14.0,8.0,2024,12
1361,2024-12-01,Atsimo Andrefana,crenas,Toliara I,NaN,20.0,12.0,9.0,NaN,3.0,3.0,2024,12

In [50]:
crenas = crenas.rename(columns={"index" : "id_Crenas"})
crenas.to_sql('nut_crenas', engine, if_exists='replace',index=False)

2025-03-24 10:52:55,999 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-03-24 10:52:56,002 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-24 10:52:56,006 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-03-24 10:52:56,007 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-24 10:52:56,011 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-03-24 10:52:56,012 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-24 10:52:56,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-24 10:52:56,091 INFO sqlalchemy.engine.Engine DESCRIBE `unicef_db`.`nut_crenas`
2025-03-24 10:52:56,092 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-24 10:52:56,203 INFO sqlalchemy.engine.Engine
CREATE TABLE nut_crenas (
	periode DATETIME,
	region TEXT,
	lieu_adm TEXT,
	district TEXT,
	tot_adm_proj FLOAT(53),
	tot_adm FLOAT(53),
	tot_sortie FLOAT(53),
	tot_gueri FLOAT(53),
	tot_deces FLOAT(53),
	tot_abandon FLOAT(53),
	tot_autres_sorties FLOAT(53),
	annee INTEGER,
	moi INTEGER
)


2025-03-24 10:52:56,204 INFO sqlalchemy.engine.Engine [no key 0.00142s] {}
2025-03-24 10:52:56,707 INFO sqlalchemy.engine.Engine INSERT INTO nut_crenas (periode, region, lieu_adm, district, tot_adm_proj, tot_adm, tot_sortie, tot_gueri, tot_deces, tot_abandon, tot_autres_sorties, annee, moi) VALUES (%(periode)s, %(region)s, %(lieu_adm)s, %(district)s, %(tot_adm_proj)s, %(tot_adm)s, %(tot_sortie)s, %(tot_gueri)s, %(tot_deces)s, %(tot_abandon)s, %(tot_autres_sorties)s, %(annee)s, %(moi)s)
2025-03-24 10:52:56,708 INFO sqlalchemy.engine.Engine [generated in 0.03027s] [{'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'crenas', 'district': 'Amboasary Sud', 'tot_adm_proj': None, 'tot_adm': 200.0, 'tot_sortie': 43.0, 'tot_gueri': 34.0, 'tot_deces': 0.0, 'tot_abandon': 9.0, 'tot_autres_sorties': 8.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'crenas', 'district': 'Taolagnaro', 'tot_adm_proj': None, 'tot_adm': 73.0, 'tot_sortie': 32.0, 'tot_gueri': 19.0, 'tot_deces': 1.0, 'tot_abandon': 12.0, 'tot_autres_sorties': 4.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'crenas', 'district': 'Ambovombe Androy', 'tot_adm_proj': None, 'tot_adm': 177.0, 'tot_sortie': 127.0, 'tot_gueri': 99.0, 'tot_deces': 0.0, 'tot_abandon': 28.0, 'tot_autres_sorties': 17.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'crenas', 'district': 'Bekily', 'tot_adm_proj': None, 'tot_adm': 202.0, 'tot_sortie': 151.0, 'tot_gueri': 145.0, 'tot_deces': 0.0, 'tot_abandon': 6.0, 'tot_autres_sorties': 4.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Atsimo Andrefana', 'lieu_adm': 'crenas', 'district': 'Betioky Atsimo', 'tot_adm_proj': None, 'tot_adm': 194.0, 'tot_sortie': 98.0, 'tot_gueri': 96.0, 'tot_deces': 0.0, 'tot_abandon': 2.0, 'tot_autres_sorties': 2.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'crenas', 'district': 'Tsihombe', 'tot_adm_proj': None, 'tot_adm': 59.0, 'tot_sortie': 28.0, 'tot_gueri': 22.0, 'tot_deces': 0.0, 'tot_abandon': 6.0, 'tot_autres_sorties': 3.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'crenas', 'district': 'Beloha Androy', 'tot_adm_proj': None, 'tot_adm': 77.0, 'tot_sortie': 98.0, 'tot_gueri': 87.0, 'tot_deces': 0.0, 'tot_abandon': 11.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Atsimo Andrefana', 'lieu_adm': 'crenas', 'district': 'Ampanihy Ouest', 'tot_adm_proj': None, 'tot_adm': 661.0, 'tot_sortie': 496.0, 'tot_gueri': 493.0, 'tot_deces': 0.0, 'tot_abandon': 3.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}  ... displaying 10 of 1362 total bound parameter sets ...  {'periode': datetime.datetime(2024, 12, 1, 0, 0), 'region': 'Atsimo Andrefana', 'lieu_adm': 'crenas', 'district': 'Sakaraha', 'tot_adm_proj': None, 'tot_adm': 206.0, 'tot_sortie': 99.0, 'tot_gueri': 74.0, 'tot_deces': 11.0, 'tot_abandon': 14.0, 'tot_autres_sorties': 8.0, 'annee': 2024, 'moi': 12}, {'periode': datetime.datetime(2024, 12, 1, 0, 0), 'region': 'Atsimo Andrefana', 'lieu_adm': 'crenas', 'district': 'Toliara I', 'tot_adm_proj': None, 'tot_adm': 20.0, 'tot_sortie': 12.0, 'tot_gueri': 9.0, 'tot_deces': None, 'tot_abandon': 3.0, 'tot_autres_sorties': 3.0, 'annee': 2024, 'moi': 12}]
2025-03-24 10:52:57,009 INFO sqlalchemy.engine.Engine COMMIT

1362

In [36]:
filterData = crenas.groupby(['annee', 'moi', 'district'])['tot_adm'].sum().reset_index()
filterData

      annee  moi          district  tot_adm
0      2020    1     Amboasary Sud    200.0
1      2020    1  Ambovombe Androy    177.0
2      2020    1    Ampanihy Ouest    661.0
3      2020    1            Bekily    202.0
4      2020    1     Beloha Androy     77.0
...     ...  ...               ...      ...
1357   2024   12        Toliara II    146.0
1358   2024   12          Tsihombe     66.0
1359   2024   12      Vangaindrano    291.0
1360   2024   12          Vohipeno    232.0
1361   2024   12          Vondrozo    273.0

[1362 rows x 4 columns]

In [43]:
filterData['district'].unique()

array(['Amboasary Sud', 'Ambovombe Androy', 'Ampanihy Ouest', 'Bekily',
       'Beloha Androy', 'Betioky Atsimo', 'Betroka', 'Taolagnaro',
       'Toliara II', 'Tsihombe', 'Ankazoabo Atsimo', 'Befotaka',
       'Benenitra', 'Beroroha', 'Farafangana', 'Ifanadiana',
       'Ikongo (Fort_Carnot)', 'Manakara Atsimo', 'Mananjary',
       'Midongy du Sud', 'Morombe', 'Nosy Varika', 'Sakaraha',
       'Toliara I', 'Vangaindrano', 'Vohipeno', 'Vondrozo'], dtype=object)

In [44]:
data =filterData[(filterData['district'] == 'Amboasary Sud') & ( filterData['annee'] == 2021)]

In [45]:
data

     annee  moi       district  tot_adm
120   2021    1  Amboasary Sud   1138.0
147   2021    2  Amboasary Sud   1528.0
174   2021    3  Amboasary Sud   1317.0
201   2021    4  Amboasary Sud   1170.0
228   2021    5  Amboasary Sud    998.0
255   2021    6  Amboasary Sud    720.0
282   2021    7  Amboasary Sud    877.0
309   2021    8  Amboasary Sud    486.0
336   2021    9  Amboasary Sud    330.0
363   2021   10  Amboasary Sud    286.0
390   2021   11  Amboasary Sud    359.0
417   2021   12  Amboasary Sud    498.0

In [47]:
labels = data['moi'].tolist()
values = data['tot_adm'].tolist()

# Préparation de l'objet JSON pour Chart.js
chart_data = {
    'labels': labels,
    'datasets': [
        {
            'label': 'tot_adm par mois',
            'data': values,
            'fill': False,
            
        }
    ]
}

# Conversion en JSON (si nécessaire)
json_data = json.dumps(chart_data)
print(json_data)

{"labels": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], "datasets": [{"label": "tot_adm par mois", "data": [1138.0, 1528.0, 1317.0, 1170.0, 998.0, 720.0, 877.0, 486.0, 330.0, 286.0, 359.0, 498.0], "fill": false}]}

# Ici apres Nettoyage

In [9]:
queryCrenas = """
SELECT * 
FROM nut_crenas 
"""
df_nutCrenas = pd.read_sql(queryCrenas, engine)

2025-03-31 20:30:58,743 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-03-31 20:30:58,745 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-31 20:30:58,750 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-03-31 20:30:58,751 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-31 20:30:58,755 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-03-31 20:30:58,756 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-31 20:30:58,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-31 20:30:58,762 INFO sqlalchemy.engine.Engine DESCRIBE `unicef_db`.`
SELECT *
FROM nut_crenas
`
2025-03-31 20:30:58,764 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-31 20:30:58,772 INFO sqlalchemy.engine.Engine
SELECT *
FROM nut_crenas

2025-03-31 20:30:58,773 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-31 20:30:58,885 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
df_nutCrenas

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,crenas,Amboasary Sud,NaN,200.0,43.0,34.0,0.0,9.0,8.0,2020,1
1,2020-01-01,Anosy,crenas,Taolagnaro,NaN,73.0,32.0,19.0,1.0,12.0,4.0,2020,1
2,2020-01-01,Androy,crenas,Ambovombe Androy,NaN,177.0,127.0,99.0,0.0,28.0,17.0,2020,1
3,2020-01-01,Androy,crenas,Bekily,NaN,202.0,151.0,145.0,0.0,6.0,4.0,2020,1
4,2020-01-01,Atsimo Andrefana,crenas,Betioky Atsimo,NaN,194.0,98.0,96.0,0.0,2.0,2.0,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,2024-12-01,Atsimo Andrefana,crenas,Benenitra,NaN,44.0,26.0,19.0,NaN,7.0,2.0,2024,12
1358,2024-12-01,Atsimo Andrefana,crenas,Beroroha,NaN,43.0,42.0,40.0,NaN,2.0,NaN,2024,12
1359,2024-12-01,Atsimo Andrefana,crenas,Morombe,NaN,135.0,102.0,102.0,NaN,NaN,NaN,2024,12
1360,2024-12-01,Atsimo Andrefana,crenas,Sakaraha,NaN,206.0,99.0,74.0,11.0,14.0,8.0,2024,12
1361,2024-12-01,Atsimo Andrefana,crenas,Toliara I,NaN,20.0,12.0,9.0,NaN,3.0,3.0,2024,12

In [13]:
region = df_nutCrenas.groupby('region')['district'].unique().to_dict()

In [12]:
region

region
Androy               [Ambovombe Androy, Bekily, Tsihombe, Beloha An...
Anosy                             [Amboasary Sud, Taolagnaro, Betroka]
Atsimo Andrefana     [Betioky Atsimo, Ampanihy Ouest, Toliara II, A...
Atsimo Atsinanana    [Befotaka, Farafangana, Midongy du Sud, Vangai...
Fitovinany           [Ikongo (Fort_Carnot), Manakara Atsimo, Vohipeno]
Vatovavy                          [Ifanadiana, Mananjary, Nosy Varika]
Name: district, dtype: object

In [14]:
region

{'Androy': array(['Ambovombe Androy', 'Bekily', 'Tsihombe', 'Beloha Androy'],
       dtype=object),
 'Anosy': array(['Amboasary Sud', 'Taolagnaro', 'Betroka'], dtype=object),
 'Atsimo Andrefana': array(['Betioky Atsimo', 'Ampanihy Ouest', 'Toliara II',
        'Ankazoabo Atsimo', 'Benenitra', 'Beroroha', 'Morombe', 'Sakaraha',
        'Toliara I'], dtype=object),
 'Atsimo Atsinanana': array(['Befotaka', 'Farafangana', 'Midongy du Sud', 'Vangaindrano',
        'Vondrozo'], dtype=object),
 'Fitovinany': array(['Ikongo (Fort_Carnot)', 'Manakara Atsimo', 'Vohipeno'],
       dtype=object),
 'Vatovavy': array(['Ifanadiana', 'Mananjary', 'Nosy Varika'], dtype=object)}

In [15]:
region = { region : list(districts) for region , districts in region.items() }
region

{'Androy': ['Ambovombe Androy', 'Bekily', 'Tsihombe', 'Beloha Androy'],
 'Anosy': ['Amboasary Sud', 'Taolagnaro', 'Betroka'],
 'Atsimo Andrefana': ['Betioky Atsimo',
  'Ampanihy Ouest',
  'Toliara II',
  'Ankazoabo Atsimo',
  'Benenitra',
  'Beroroha',
  'Morombe',
  'Sakaraha',
  'Toliara I'],
 'Atsimo Atsinanana': ['Befotaka',
  'Farafangana',
  'Midongy du Sud',
  'Vangaindrano',
  'Vondrozo'],
 'Fitovinany': ['Ikongo (Fort_Carnot)', 'Manakara Atsimo', 'Vohipeno'],
 'Vatovavy': ['Ifanadiana', 'Mananjary', 'Nosy Varika']}

In [41]:
grouped_data = {
        district: {
            str(annee): dict(zip(group["moi"].astype(str), group["tot_adm"]))
            for annee, group in sub_df.groupby("annee")
        }
        for district, sub_df in df_nutCrenas.groupby("district")
    }

grouped_data

{'Amboasary Sud': {'2020': {'1': 200.0,
   '2': 256.0,
   '3': 244.0,
   '4': 302.0,
   '5': 250.0,
   '6': 184.0,
   '7': 228.0,
   '8': 264.0,
   '9': 437.0,
   '10': 1199.0,
   '11': 976.0,
   '12': 818.0},
  '2021': {'1': 1138.0,
   '2': 1528.0,
   '3': 1317.0,
   '4': 1170.0,
   '5': 998.0,
   '6': 720.0,
   '7': 877.0,
   '8': 486.0,
   '9': 330.0,
   '10': 286.0,
   '11': 359.0,
   '12': 498.0},
  '2022': {'1': 340.0,
   '2': 315.0,
   '3': 415.0,
   '4': 509.0,
   '5': 284.0,
   '6': 240.0,
   '7': 170.0,
   '8': 140.0,
   '9': 138.0,
   '10': 151.0,
   '11': 217.0,
   '12': 180.0},
  '2023': {'1': 379.0,
   '2': 362.0,
   '3': 298.0,
   '4': 406.0,
   '5': 165.0,
   '6': 168.0,
   '7': 177.0,
   '8': 194.0,
   '9': 255.0,
   '10': 190.0},
  '2024': {'1': 340.0,
   '2': 315.0,
   '3': 415.0,
   '4': 509.0,
   '5': 284.0,
   '6': 240.0,
   '7': 170.0,
   '8': 140.0,
   '9': 138.0,
   '10': 151.0,
   '11': 217.0,
   '12': 180.0}},
 'Ambovombe Androy': {'2020': {'1': 177.0,
   '2': 262.0,
   '3': 175.0,
   '4': 227.0,
   '5': 376.0,
   '6': 265.0,
   '7': 245.0,
   '8': 240.0,
   '9': 249.0,
   '10': 707.0,
   '11': 635.0,
   '12': 891.0},
  '2021': {'1': 1489.0,
   '2': 1125.0,
   '3': 1493.0,
   '4': 2363.0,
   '5': 1084.0,
   '6': 944.0,
   '7': 869.0,
   '8': 462.0,
   '9': 421.0,
   '10': 561.0,
   '11': 464.0,
   '12': 272.0},
  '2022': {'1': 348.0,
   '2': 254.0,
   '3': 281.0,
   '4': 363.0,
   '5': 322.0,
   '6': 199.0,
   '7': 160.0,
   '8': 274.0,
   '9': 280.0,
   '10': 343.0,
   '11': 321.0,
   '12': 317.0},
  '2023': {'1': 686.0,
   '2': 612.0,
   '3': 416.0,
   '4': 631.0,
   '5': 291.0,
   '6': 258.0,
   '7': 179.0,
   '8': 303.0,
   '9': 304.0,
   '10': 143.0},
  '2024': {'1': 348.0,
   '2': 254.0,
   '3': 281.0,
   '4': 363.0,
   '5': 322.0,
   '6': 199.0,
   '7': 160.0,
   '8': 274.0,
   '9': 280.0,
   '10': 343.0,
   '11': 321.0,
   '12': 317.0}},
 'Ampanihy Ouest': {'2020': {'1': 661.0,
   '2': 674.0,
   '3': 517.0,
   '4': 481.0,
   '5': 545.0,
   '6': 202.0,
   '7': 415.0,
   '8': 431.0,
   '9': 490.0,
   '10': 477.0,
   '11': 758.0,
   '12': 666.0},
  '2021': {'1': 765.0,
   '2': 1646.0,
   '3': 2973.0,
   '4': 2745.0,
   '5': 1058.0,
   '6': 801.0,
   '7': 1231.0,
   '8': 1188.0,
   '9': 1405.0,
   '10': 1029.0,
   '11': 850.0,
   '12': 707.0},
  '2022': {'1': 1161.0,
   '2': 990.0,
   '3': 1439.0,
   '4': 1128.0,
   '5': 969.0,
   '6': 996.0,
   '7': 670.0,
   '8': 706.0,
   '9': 584.0,
   '10': 680.0,
   '11': 712.0,
   '12': 663.0},
  '2023': {'1': 665.0,
   '2': 584.0,
   '3': 524.0,
   '4': 478.0,
   '5': 414.0,
   '6': 442.0,
   '7': 495.0,
   '8': 810.0,
   '9': 515.0,
   '10': 389.0},
  '2024': {'1': 1161.0,
   '2': 990.0,
   '3': 1439.0,
   '4': 1128.0,
   '5': 969.0,
   '6': 996.0,
   '7': 670.0,
   '8': 706.0,
   '9': 584.0,
   '10': 680.0,
   '11': 712.0,
   '12': 663.0}},
 'Ankazoabo Atsimo': {'2021': {'1': 72.0,
   '2': 18.0,
   '3': 12.0,
   '4': 9.0,
   '5': 22.0,
   '6': 16.0,
   '7': 7.0,
   '8': 16.0,
   '9': 17.0,
   '10': 52.0,
   '11': 25.0,
   '12': 18.0},
  '2022': {'1': 19.0,
   '2': 46.0,
   '3': 27.0,
   '4': 41.0,
   '5': 24.0,
   '6': 30.0,
   '7': 38.0,
   '8': 34.0,
   '9': 25.0,
   '10': 34.0,
   '11': 40.0,
   '12': 30.0},
  '2023': {'1': 46.0,
   '2': 50.0,
   '3': 48.0,
   '4': 27.0,
   '5': 62.0,
   '6': 34.0,
   '7': 56.0,
   '8': 50.0,
   '9': 66.0,
   '10': nan},
  '2024': {'1': 19.0,
   '2': 46.0,
   '3': 27.0,
   '4': 41.0,
   '5': 24.0,
   '6': 30.0,
   '7': 38.0,
   '8': 34.0,
   '9': 25.0,
   '10': 34.0,
   '11': 40.0,
   '12': 30.0}},
 'Befotaka': {'2021': {'1': 24.0,
   '2': 45.0,
   '3': 27.0,
   '4': 21.0,
   '5': 44.0,
   '6': 30.0,
   '7': 24.0,
   '8': 28.0,
   '9': 30.0,
   '10': 83.0,
   '11': 45.0,
   '12': 83.0},
  '2022': {'1': 43.0,
   '2': 39.0,
   '3': 39.0,
   '4': 55.0,
   '5': 73.0,
   '6': 94.0,
   '7': 69.0,
   '8': 194.0,
   '9': 126.0,
   '10': 161.0,
   '11': 301.0,
   '12': 105.0},
  '2023': {'1': 49.0,
   '2': 69.0,
   '3': 229.0,
   '4': 133.0,
   '5': 129.0,
   '6': 64.0,
   '7': 47.0,
   '8': 97.0,
   '9': 81.0,
   '10': 59.0},
  '2024': {'1': 43.0,
   '2': 39.0,
   '3': 39.0,
   '4': 55.0,
   '5': 73.0,
   '6': 94.0,
   '7': 69.0,
   '8': 194.0,
   '9': 126.0,
   '10': 161.0,
   '11': 301.0,
   '12': 105.0}},
 'Bekily': {'2020': {'1': 202.0,
   '2': 214.0,
   '3': 246.0,
   '4': 187.0,
   '5': 109.0,
   '6': 120.0,
   '7': 121.0,
   '8': 147.0,
   '9': 166.0,
   '10': 273.0,
   '11': 333.0,
   '12': 179.0},
  '2021': {'1': 236.0,
   '2': 723.0,
   '3': 1147.0,
   '4': 423.0,
   '5': 243.0,
   '6': 214.0,
   '7': 341.0,
   '8': 164.0,
   '9': 230.0,
   '10': 248.0,
   '11': 223.0,
   '12': 208.0},
  '2022': {'1': 276.0,
   '2': 351.0,
   '3': 494.0,
   '4': 435.0,
   '5': 240.0,
   '6': 174.0,
   '7': 158.0,
   '8': 136.0,
   '9': 183.0,
   '10': 152.0,
   '11': 175.0,
   '12': 174.0},
  '2023': {'1': 324.0,
   '2': 330.0,
   '3': 252.0,
   '4': 216.0,
   '5': 203.0,
   '6': 150.0,
   '7': 125.0,
   '8': 155.0,
   '9': 180.0,
   '10': 168.0},
  '2024': {'1': 276.0,
   '2': 351.0,
   '3': 494.0,
   '4': 435.0,
   '5': 240.0,
   '6': 174.0,
   '7': 158.0,
   '8': 136.0,
   '9': 183.0,
   '10': 152.0,
   '11': 175.0,
   '12': 174.0}},
 'Beloha Androy': {'2020': {'1': 77.0,
   '2': 109.0,
   '3': 118.0,
   '4': 165.0,
   '5': 183.0,
   '6': 112.0,
   '7': 91.0,
   '8': 100.0,
   '9': 72.0,
   '10': 240.0,
   '11': 228.0,
   '12': 150.0},
  '2021': {'1': 305.0,
   '2': 588.0,
   '3': 711.0,
   '4': 581.0,
   '5': 344.0,
   '6': 330.0,
   '7': 929.0,
   '8': 740.0,
   '9': 604.0,
   '10': 366.0,
   '11': 441.0,
   '12': 268.0},
  '2022': {'1': 461.0,
   '2': 327.0,
   '3': 406.0,
   '4': 407.0,
   '5': 340.0,
   '6': 174.0,
   '7': 173.0,
   '8': 165.0,
   '9': 180.0,
   '10': 175.0,
   '11': 164.0,
   '12': 138.0},
  '2023': {'1': 286.0,
   '2': 210.0,
   '3': 223.0,
   '4': 138.0,
   '5': 163.0,
   '6': 92.0,
   '7': 89.0,
   '8': 129.0,
   '9': 97.0,
   '10': 87.0},
  '2024': {'1': 461.0,
   '2': 327.0,
   '3': 406.0,
   '4': 407.0,
   '5': 340.0,
   '6': 174.0,
   '7': 173.0,
   '8': 165.0,
   '9': 180.0,
   '10': 175.0,
   '11': 164.0,
   '12': 138.0}},
 'Benenitra': {'2021': {'1': 44.0,
   '2': 80.0,
   '3': 48.0,
   '4': 17.0,
   '5': 17.0,
   '6': 4.0,
   '7': 4.0,
   '8': 5.0,
   '9': 16.0,
   '10': 1.0,
   '11': 3.0,
   '12': 2.0},
  '2022': {'1': 1.0,
   '2': 7.0,
   '3': 1.0,
   '4': 22.0,
   '5': 6.0,
   '6': 9.0,
   '7': 2.0,
   '8': 2.0,
   '9': 54.0,
   '10': 46.0,
   '11': 76.0,
   '12': 44.0},
  '2023': {'1': 36.0,
   '2': 167.0,
   '3': 123.0,
   '4': 96.0,
   '5': 126.0,
   '6': 84.0,
   '7': 57.0,
   '8': 142.0,
   '9': 134.0,
   '10': nan},
  '2024': {'1': 1.0,
   '2': 7.0,
   '3': 1.0,
   '4': 22.0,
   '5': 6.0,
   '6': 9.0,
   '7': 2.0,
   '8': 2.0,
   '9': 54.0,
   '10': 46.0,
   '11': 76.0,
   '12': 44.0}},
 'Beroroha': {'2021': {'1': 48.0,
   '2': 63.0,
   '3': 72.0,
   '4': 70.0,
   '5': 23.0,
   '6': 27.0,
   '7': 14.0,
   '8': 20.0,
   '9': 23.0,
   '10': 52.0,
   '11': 62.0,
   '12': 55.0},
  '2022': {'1': 53.0,
   '2': 80.0,
   '3': 58.0,
   '4': 48.0,
   '5': 56.0,
   '6': 57.0,
   '7': 50.0,
   '8': 25.0,
   '9': 46.0,
   '10': 31.0,
   '11': 65.0,
   '12': 43.0},
  '2023': {'1': 57.0,
   '2': 50.0,
   '3': 43.0,
   '4': 42.0,
   '5': 58.0,
   '6': 74.0,
   '7': 83.0,
   '8': 62.0,
   '9': nan,
   '10': nan},
  '2024': {'1': 53.0,
   '2': 80.0,
   '3': 58.0,
   '4': 48.0,
   '5': 56.0,
   '6': 57.0,
   '7': 50.0,
   '8': 25.0,
   '9': 46.0,
   '10': 31.0,
   '11': 65.0,
   '12': 43.0}},
 'Betioky Atsimo': {'2020': {'1': 194.0,
   '2': 265.0,
   '3': 346.0,
   '4': 340.0,
   '5': 150.0,
   '6': 111.0,
   '7': 74.0,
   '8': 144.0,
   '9': 84.0,
   '10': 132.0,
   '11': 178.0,
   '12': 133.0},
  '2021': {'1': 193.0,
   '2': 446.0,
   '3': 622.0,
   '4': 434.0,
   '5': 331.0,
   '6': 292.0,
   '7': 391.0,
   '8': 302.0,
   '9': 241.0,
   '10': 333.0,
   '11': 373.0,
   '12': 436.0},
  '2022': {'1': 595.0,
   '2': 746.0,
   '3': 696.0,
   '4': 575.0,
   '5': 547.0,
   '6': 441.0,
   '7': 516.0,
   '8': 297.0,
   '9': 370.0,
   '10': 364.0,
   '11': 398.0,
   '12': 415.0},
  '2023': {'1': 530.0,
   '2': 586.0,
   '3': 451.0,
   '4': 486.0,
   '5': 489.0,
   '6': 348.0,
   '7': 405.0,
   '8': 507.0,
   '9': 462.0,
   '10': 532.0},
  '2024': {'1': 595.0,
   '2': 746.0,
   '3': 696.0,
   '4': 575.0,
   '5': 547.0,
   '6': 441.0,
   '7': 516.0,
   '8': 297.0,
   '9': 370.0,
   '10': 364.0,
   '11': 398.0,
   '12': 415.0}},
 'Betroka': {'2020': {'1': 33.0,
   '2': 63.0,
   '3': 48.0,
   '4': 51.0,
   '5': 41.0,
   '6': 25.0,
   '7': 31.0,
   '8': 53.0,
   '9': 95.0,
   '10': 100.0,
   '11': 170.0,
   '12': 136.0},
  '2021': {'1': 260.0,
   '2': 257.0,
   '3': 332.0,
   '4': 217.0,
   '5': 126.0,
   '6': 219.0,
   '7': 219.0,
   '8': 192.0,
   '9': 140.0,
   '10': 143.0,
   '11': 149.0,
   '12': 91.0},
  '2022': {'1': 183.0,
   '2': 192.0,
   '3': 213.0,
   '4': 231.0,
   '5': 179.0,
   '6': 173.0,
   '7': 236.0,
   '8': 161.0,
   '9': 157.0,
   '10': 316.0,
   '11': 400.0,
   '12': 212.0},
  '2023': {'1': 192.0,
   '2': 307.0,
   '3': 325.0,
   '4': 214.0,
   '5': 159.0,
   '6': 165.0,
   '7': 100.0,
   '8': 187.0,
   '9': 188.0,
   '10': 144.0},
  '2024': {'1': 183.0,
   '2': 192.0,
   '3': 213.0,
   '4': 231.0,
   '5': 179.0,
   '6': 173.0,
   '7': 236.0,
   '8': 161.0,
   '9': 157.0,
   '10': 316.0,
   '11': 400.0,
   '12': 212.0}},
 'Farafangana': {'2021': {'1': 47.0,
   '2': 143.0,
   '3': 216.0,
   '4': 298.0,
   '5': 134.0,
   '6': 137.0,
   '7': 136.0,
   '8': 115.0,
   '9': 147.0,
   '10': 123.0,
   '11': 128.0,
   '12': 213.0},
  '2022': {'1': 263.0,
   '2': 549.0,
   '3': 536.0,
   '4': 675.0,
   '5': 891.0,
   '6': 691.0,
   '7': 757.0,
   '8': 690.0,
   '9': 743.0,
   '10': 416.0,
   '11': 1580.0,
   '12': 931.0},
  '2023': {'1': 465.0,
   '2': 590.0,
   '3': 732.0,
   '4': 685.0,
   '5': 633.0,
   '6': 457.0,
   '7': 410.0,
   '8': 303.0,
   '9': 273.0,
   '10': 461.0},
  '2024': {'1': 263.0,
   '2': 549.0,
   '3': 536.0,
   '4': 675.0,
   '5': 891.0,
   '6': 691.0,
   '7': 757.0,
   '8': 690.0,
   '9': 743.0,
   '10': 416.0,
   '11': 1580.0,
   '12': 931.0}},
 'Ifanadiana': {'2021': {'1': 33.0,
   '2': 38.0,
   '3': 18.0,
   '4': 126.0,
   '5': 64.0,
   '6': 17.0,
   '7': 22.0,
   '8': 41.0,
   '9': 28.0,
   '10': 44.0,
   '11': 31.0,
   '12': 32.0},
  '2022': {'1': 23.0,
   '2': 25.0,
   '3': 74.0,
   '4': 91.0,
   '5': 73.0,
   '6': 62.0,
   '7': 33.0,
   '8': 37.0,
   '9': 53.0,
   '10': 52.0,
   '11': 121.0,
   '12': 180.0},
  '2023': {'1': 121.0,
   '2': 107.0,
   '3': 222.0,
   '4': 259.0,
   '5': 150.0,
   '6': 81.0,
   '7': 122.0,
   '8': 152.0,
   '9': 159.0,
   '10': 180.0},
  '2024': {'1': 23.0,
   '2': 25.0,
   '3': 74.0,
   '4': 91.0,
   '5': 73.0,
   '6': 62.0,
   '7': 33.0,
   '8': 37.0,
   '9': 53.0,
   '10': 52.0,
   '11': 121.0,
   '12': 180.0}},
 'Ikongo (Fort_Carnot)': {'2021': {'1': nan,
   '2': nan,
   '3': nan,
   '4': nan,
   '5': nan,
   '6': nan,
   '7': nan,
   '8': 6.0,
   '9': 42.0,
   '10': 36.0,
   '11': 9.0,
   '12': 7.0},
  '2022': {'1': 1.0,
   '2': 6.0,
   '3': 68.0,
   '4': 78.0,
   '5': 52.0,
   '6': 27.0,
   '7': 27.0,
   '8': 23.0,
   '9': 54.0,
   '10': 628.0,
   '11': 1418.0,
   '12': 1939.0},
  '2023': {'1': 329.0,
   '2': 582.0,
   '3': 1003.0,
   '4': 747.0,
   '5': 574.0,
   '6': 230.0,
   '7': 259.0,
   '8': 305.0,
   '9': 254.0,
   '10': 190.0},
  '2024': {'1': 1.0,
   '2': 6.0,
   '3': 68.0,
   '4': 78.0,
   '5': 52.0,
   '6': 27.0,
   '7': 27.0,
   '8': 23.0,
   '9': 54.0,
   '10': 628.0,
   '11': 1418.0,
   '12': 1939.0}},
 'Manakara Atsimo': {'2021': {'1': 36.0,
   '2': 31.0,
   '3': 37.0,
   '4': 18.0,
   '5': 10.0,
   '6': 12.0,
   '7': 16.0,
   '8': 14.0,
   '9': 38.0,
   '10': 60.0,
   '11': 48.0,
   '12': 24.0},
  '2022': {'1': 71.0,
   '2': 117.0,
   '3': 199.0,
   '4': 229.0,
   '5': 298.0,
   '6': 112.0,
   '7': 102.0,
   '8': 87.0,
   '9': 122.0,
   '10': 267.0,
   '11': 769.0,
   '12': 919.0},
  '2023': {'1': 387.0,
   '2': 234.0,
   '3': 289.0,
   '4': 684.0,
   '5': 657.0,
   '6': 311.0,
   '7': 220.0,
   '8': 216.0,
   '9': 256.0,
   '10': 364.0},
  '2024': {'1': 71.0,
   '2': 117.0,
   '3': 199.0,
   '4': 229.0,
   '5': 298.0,
   '6': 112.0,
   '7': 102.0,
   '8': 87.0,
   '9': 122.0,
   '10': 267.0,
   '11': 769.0,
   '12': 919.0}},
 'Mananjary': {'2021': {'1': 52.0,
   '2': 41.0,
   '3': 96.0,
   '4': 43.0,
   '5': 51.0,
   '6': 35.0,
   '7': 27.0,
   '8': 23.0,
   '9': 21.0,
   '10': 17.0,
   '11': 73.0,
   '12': 51.0},
  '2022': {'1': 51.0,
   '2': 62.0,
   '3': 149.0,
   '4': 166.0,
   '5': 144.0,
   '6': 83.0,
   '7': 58.0,
   '8': 63.0,
   '9': 78.0,
   '10': 175.0,
   '11': 246.0,
   '12': 188.0},
  '2023': {'1': 142.0,
   '2': 154.0,
   '3': 531.0,
   '4': 453.0,
   '5': 360.0,
   '6': 315.0,
   '7': 154.0,
   '8': 114.0,
   '9': 147.0,
   '10': 260.0},
  '2024': {'1': 51.0,
   '2': 62.0,
   '3': 149.0,
   '4': 166.0,
   '5': 144.0,
   '6': 83.0,
   '7': 58.0,
   '8': 63.0,
   '9': 78.0,
   '10': 175.0,
   '11': 246.0,
   '12': 188.0}},
 'Midongy du Sud': {'2021': {'1': 12.0,
   '2': 15.0,
   '3': 11.0,
   '4': 19.0,
   '5': 19.0,
   '6': 16.0,
   '7': 9.0,
   '8': 6.0,
   '9': 11.0,
   '10': 15.0,
   '11': 20.0,
   '12': 22.0},
  '2022': {'1': 22.0,
   '2': 15.0,
   '3': 25.0,
   '4': 36.0,
   '5': 46.0,
   '6': 39.0,
   '7': 20.0,
   '8': 46.0,
   '9': 46.0,
   '10': 39.0,
   '11': 205.0,
   '12': 99.0},
  '2023': {'1': 78.0,
   '2': 70.0,
   '3': 114.0,
   '4': 43.0,
   '5': 43.0,
   '6': 23.0,
   '7': 41.0,
   '8': 31.0,
   '9': 20.0,
   '10': 13.0},
  '2024': {'1': 22.0,
   '2': 15.0,
   '3': 25.0,
   '4': 36.0,
   '5': 46.0,
   '6': 39.0,
   '7': 20.0,
   '8': 46.0,
   '9': 46.0,
   '10': 39.0,
   '11': 205.0,
   '12': 99.0}},
 'Morombe': {'2021': {'1': 84.0,
   '2': 101.0,
   '3': 138.0,
   '4': 90.0,
   '5': 65.0,
   '6': 63.0,
   '7': 38.0,
   '8': 45.0,
   '9': 32.0,
   '10': 82.0,
   '11': 62.0,
   '12': 45.0},
  '2022': {'1': 51.0,
   '2': 228.0,
   '3': 129.0,
   '4': 120.0,
   '5': 165.0,
   '6': 258.0,
   '7': 131.0,
   '8': 128.0,
   '9': 126.0,
   '10': 126.0,
   '11': 157.0,
   '12': 135.0},
  '2023': {'1': 176.0,
   '2': 212.0,
   '3': 310.0,
   '4': 196.0,
   '5': 212.0,
   '6': 60.0,
   '7': 55.0,
   '8': 112.0,
   '9': 436.0,
   '10': nan},
  '2024': {'1': 51.0,
   '2': 228.0,
   '3': 129.0,
   '4': 120.0,
   '5': 165.0,
   '6': 258.0,
   '7': 131.0,
   '8': 128.0,
   '9': 126.0,
   '10': 126.0,
   '11': 157.0,
   '12': 135.0}},
 'Nosy Varika': {'2021': {'1': nan,
   '2': nan,
   '3': nan,
   '4': nan,
   '5': nan,
   '6': 36.0,
   '7': nan,
   '8': nan,
   '9': nan,
   '10': nan,
   '11': nan,
   '12': nan},
  '2022': {'1': nan,
   '2': nan,
   '3': nan,
   '4': 25.0,
   '5': 14.0,
   '6': 2.0,
   '7': 22.0,
   '8': 56.0,
   '9': 86.0,
   '10': 198.0,
   '11': 324.0,
   '12': 339.0},
  '2023': {'1': 276.0,
   '2': 344.0,
   '3': 514.0,
   '4': 914.0,
   '5': 749.0,
   '6': 389.0,
   '7': 337.0,
   '8': 374.0,
   '9': 341.0,
   '10': 332.0},
  '2024': {'1': nan,
   '2': nan,
   '3': nan,
   '4': 25.0,
   '5': 14.0,
   '6': 2.0,
   '7': 22.0,
   '8': 56.0,
   '9': 86.0,
   '10': 198.0,
   '11': 324.0,
   '12': 339.0}},
 'Sakaraha': {'2021': {'1': 91.0,
   '2': 72.0,
   '3': 139.0,
   '4': 101.0,
   '5': 47.0,
   '6': 63.0,
   '7': 61.0,
   '8': 46.0,
   '9': 98.0,
   '10': 103.0,
   '11': 73.0,
   '12': 89.0},
  '2022': {'1': 147.0,
   '2': 223.0,
   '3': 220.0,
   '4': 149.0,
   '5': 104.0,
   '6': 17.0,
   '7': 89.0,
   '8': 169.0,
   '9': 113.0,
   '10': 216.0,
   '11': 156.0,
   '12': 206.0},
  '2023': {'1': 269.0,
   '2': 225.0,
   '3': 189.0,
   '4': 178.0,
   '5': 138.0,
   '6': 200.0,
   '7': 145.0,
   '8': 103.0,
   '9': 194.0,
   '10': nan},
  '2024': {'1': 147.0,
   '2': 223.0,
   '3': 220.0,
   '4': 149.0,
   '5': 104.0,
   '6': 17.0,
   '7': 89.0,
   '8': 169.0,
   '9': 113.0,
   '10': 216.0,
   '11': 156.0,
   '12': 206.0}},
 'Taolagnaro': {'2020': {'1': 73.0,
   '2': 84.0,
   '3': 56.0,
   '4': 44.0,
   '5': 39.0,
   '6': 55.0,
   '7': 85.0,
   '8': 54.0,
   '9': 133.0,
   '10': 117.0,
   '11': 97.0,
   '12': 175.0},
  '2021': {'1': 145.0,
   '2': 168.0,
   '3': 272.0,
   '4': 442.0,
   '5': 123.0,
   '6': 140.0,
   '7': 139.0,
   '8': 278.0,
   '9': 179.0,
   '10': 97.0,
   '11': 196.0,
   '12': 87.0},
  '2022': {'1': 194.0,
   '2': 129.0,
   '3': 164.0,
   '4': 179.0,
   '5': 140.0,
   '6': 70.0,
   '7': 104.0,
   '8': 64.0,
   '9': 42.0,
   '10': 90.0,
   '11': 67.0,
   '12': 67.0},
  '2023': {'1': 71.0,
   '2': 73.0,
   '3': 133.0,
   '4': 110.0,
   '5': 112.0,
   '6': 52.0,
   '7': 55.0,
   '8': 43.0,
   '9': 100.0,
   '10': 96.0},
  '2024': {'1': 194.0,
   '2': 129.0,
   '3': 164.0,
   '4': 179.0,
   '5': 140.0,
   '6': 70.0,
   '7': 104.0,
   '8': 64.0,
   '9': 42.0,
   '10': 90.0,
   '11': 67.0,
   '12': 67.0}},
 'Toliara I': {'2021': {'1': 10.0,
   '2': 31.0,
   '3': 55.0,
   '4': 26.0,
   '5': 27.0,
   '6': 10.0,
   '7': 12.0,
   '8': 11.0,
   '9': 6.0,
   '10': 2.0,
   '11': 6.0,
   '12': 5.0},
  '2022': {'1': 38.0,
   '2': 23.0,
   '3': 30.0,
   '4': 25.0,
   '5': 33.0,
   '6': 23.0,
   '7': 18.0,
   '8': 16.0,
   '9': 26.0,
   '10': 23.0,
   '11': 19.0,
   '12': 20.0},
  '2023': {'1': 47.0,
   '2': 40.0,
   '3': 79.0,
   '4': 47.0,
   '5': 24.0,
   '6': 29.0,
   '7': 22.0,
   '8': 53.0,
   '9': 37.0,
   '10': nan},
  '2024': {'1': 38.0,
   '2': 23.0,
   '3': 30.0,
   '4': 25.0,
   '5': 33.0,
   '6': 23.0,
   '7': 18.0,
   '8': 16.0,
   '9': 26.0,
   '10': 23.0,
   '11': 19.0,
   '12': 20.0}},
 'Toliara II': {'2020': {'1': 56.0,
   '2': 48.0,
   '3': 36.0,
   '4': 64.0,
   '5': 93.0,
   '6': 63.0,
   '7': 52.0,
   '8': 192.0,
   '9': 95.0,
   '10': 47.0,
   '11': 92.0,
   '12': 172.0},
  '2021': {'1': 129.0,
   '2': 174.0,
   '3': 294.0,
   '4': 234.0,
   '5': 109.0,
   '6': 193.0,
   '7': 80.0,
   '8': 81.0,
   '9': 157.0,
   '10': 113.0,
   '11': 158.0,
   '12': 168.0},
  '2022': {'1': 180.0,
   '2': 224.0,
   '3': 83.0,
   '4': 85.0,
   '5': 79.0,
   '6': 73.0,
   '7': 168.0,
   '8': 128.0,
   '9': 181.0,
   '10': 175.0,
   '11': 195.0,
   '12': 146.0},
  '2023': {'1': 230.0,
   '2': 234.0,
   '3': 192.0,
   '4': 209.0,
   '5': 67.0,
   '6': 54.0,
   '7': 183.0,
   '8': 131.0,
   '9': 131.0,
   '10': 59.0},
  '2024': {'1': 180.0,
   '2': 224.0,
   '3': 83.0,
   '4': 85.0,
   '5': 79.0,
   '6': 73.0,
   '7': 168.0,
   '8': 128.0,
   '9': 181.0,
   '10': 175.0,
   '11': 195.0,
   '12': 146.0}},
 'Tsihombe': {'2020': {'1': 59.0,
   '2': 75.0,
   '3': 77.0,
   '4': 84.0,
   '5': 134.0,
   '6': 139.0,
   '7': 75.0,
   '8': 84.0,
   '9': 84.0,
   '10': 161.0,
   '11': 162.0,
   '12': 257.0},
  '2021': {'1': 370.0,
   '2': 532.0,
   '3': 1093.0,
   '4': 803.0,
   '5': 264.0,
   '6': 261.0,
   '7': 216.0,
   '8': 230.0,
   '9': 126.0,
   '10': 101.0,
   '11': 96.0,
   '12': 131.0},
  '2022': {'1': 155.0,
   '2': 150.0,
   '3': 191.0,
   '4': 167.0,
   '5': 120.0,
   '6': 92.0,
   '7': 63.0,
   '8': 58.0,
   '9': 43.0,
   '10': 65.0,
   '11': 91.0,
   '12': 66.0},
  '2023': {'1': 160.0,
   '2': 104.0,
   '3': 215.0,
   '4': 215.0,
   '5': 172.0,
   '6': 51.0,
   '7': 67.0,
   '8': 62.0,
   '9': 54.0,
   '10': 54.0},
  '2024': {'1': 155.0,
   '2': 150.0,
   '3': 191.0,
   '4': 167.0,
   '5': 120.0,
   '6': 92.0,
   '7': 63.0,
   '8': 58.0,
   '9': 43.0,
   '10': 65.0,
   '11': 91.0,
   '12': 66.0}},
 'Vangaindrano': {'2021': {'1': 48.0,
   '2': 70.0,
   '3': 94.0,
   '4': 78.0,
   '5': 61.0,
   '6': 25.0,
   '7': 23.0,
   '8': 17.0,
   '9': 23.0,
   '10': 21.0,
   '11': 109.0,
   '12': 91.0},
  '2022': {'1': 104.0,
   '2': 75.0,
   '3': 80.0,
   '4': 117.0,
   '5': 125.0,
   '6': 62.0,
   '7': 72.0,
   '8': 72.0,
   '9': 59.0,
   '10': 61.0,
   '11': 626.0,
   '12': 291.0},
  '2023': {'1': 215.0,
   '2': 244.0,
   '3': 308.0,
   '4': 371.0,
   '5': 333.0,
   '6': 203.0,
   '7': 163.0,
   '8': 200.0,
   '9': 211.0,
   '10': 170.0},
  '2024': {'1': 104.0,
   '2': 75.0,

In [16]:
data_filtered = df_nutCrenas[df_nutCrenas['district'] == 'Tsihombe']

In [24]:
data_filtered.head()

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_autres_sorties,annee,moi
5,2020-01-01,Androy,crenas,Tsihombe,NaN,59.0,28.0,22.0,0.0,6.0,3.0,2020,1
15,2020-02-01,Androy,crenas,Tsihombe,NaN,75.0,58.0,58.0,0.0,0.0,2.0,2020,2
25,2020-03-01,Androy,crenas,Tsihombe,NaN,77.0,58.0,53.0,0.0,5.0,1.0,2020,3
35,2020-04-01,Androy,crenas,Tsihombe,NaN,84.0,85.0,84.0,0.0,1.0,7.0,2020,4
45,2020-05-01,Androy,crenas,Tsihombe,NaN,134.0,127.0,122.0,0.0,5.0,3.0,2020,5

In [28]:
myData = data_filtered.groupby(['annee', 'moi'])["tot_adm"].sum().reset_index()

In [30]:
myData

    annee  moi  tot_adm
0    2020    1     59.0
1    2020    2     75.0
2    2020    3     77.0
3    2020    4     84.0
4    2020    5    134.0
5    2020    6    139.0
6    2020    7     75.0
7    2020    8     84.0
8    2020    9     84.0
9    2020   10    161.0
10   2020   11    162.0
11   2020   12    257.0
12   2021    1    370.0
13   2021    2    532.0
14   2021    3   1093.0
15   2021    4    803.0
16   2021    5    264.0
17   2021    6    261.0
18   2021    7    216.0
19   2021    8    230.0
20   2021    9    126.0
21   2021   10    101.0
22   2021   11     96.0
23   2021   12    131.0
24   2022    1    155.0
25   2022    2    150.0
26   2022    3    191.0
27   2022    4    167.0
28   2022    5    120.0
29   2022    6     92.0
30   2022    7     63.0
31   2022    8     58.0
32   2022    9     43.0
33   2022   10     65.0
34   2022   11     91.0
35   2022   12     66.0
36   2023    1    160.0
37   2023    2    104.0
38   2023    3    215.0
39   2023    4    215.0
40   2023    5    172.0
41   2023    6     51.0
42   2023    7     67.0
43   2023    8     62.0
44   2023    9     54.0
45   2023   10     54.0
46   2024    1    155.0
47   2024    2    150.0
48   2024    3    191.0
49   2024    4    167.0
50   2024    5    120.0
51   2024    6     92.0
52   2024    7     63.0
53   2024    8     58.0
54   2024    9     43.0
55   2024   10     65.0
56   2024   11     91.0
57   2024   12     66.0

In [31]:
grouped = myData.groupby('annee')

In [39]:
result = {}

for year , group in grouped:
    # print("year : ", year, " | group : ", group)
    group_sorted = group.sort_values("moi")
    totadm_monthly  = group_sorted.set_index("moi")["tot_adm"].to_dict()
    # print(" tot monthly : ",totadm_monthly)
    result[year] = totadm_monthly

result

 tot monthly :  {1: 59.0, 2: 75.0, 3: 77.0, 4: 84.0, 5: 134.0, 6: 139.0, 7: 75.0, 8: 84.0, 9: 84.0, 10: 161.0, 11: 162.0, 12: 257.0}
 tot monthly :  {1: 370.0, 2: 532.0, 3: 1093.0, 4: 803.0, 5: 264.0, 6: 261.0, 7: 216.0, 8: 230.0, 9: 126.0, 10: 101.0, 11: 96.0, 12: 131.0}
 tot monthly :  {1: 155.0, 2: 150.0, 3: 191.0, 4: 167.0, 5: 120.0, 6: 92.0, 7: 63.0, 8: 58.0, 9: 43.0, 10: 65.0, 11: 91.0, 12: 66.0}
 tot monthly :  {1: 160.0, 2: 104.0, 3: 215.0, 4: 215.0, 5: 172.0, 6: 51.0, 7: 67.0, 8: 62.0, 9: 54.0, 10: 54.0}
 tot monthly :  {1: 155.0, 2: 150.0, 3: 191.0, 4: 167.0, 5: 120.0, 6: 92.0, 7: 63.0, 8: 58.0, 9: 43.0, 10: 65.0, 11: 91.0, 12: 66.0}

{2020: {1: 59.0,
  2: 75.0,
  3: 77.0,
  4: 84.0,
  5: 134.0,
  6: 139.0,
  7: 75.0,
  8: 84.0,
  9: 84.0,
  10: 161.0,
  11: 162.0,
  12: 257.0},
 2021: {1: 370.0,
  2: 532.0,
  3: 1093.0,
  4: 803.0,
  5: 264.0,
  6: 261.0,
  7: 216.0,
  8: 230.0,
  9: 126.0,
  10: 101.0,
  11: 96.0,
  12: 131.0},
 2022: {1: 155.0,
  2: 150.0,
  3: 191.0,
  4: 167.0,
  5: 120.0,
  6: 92.0,
  7: 63.0,
  8: 58.0,
  9: 43.0,
  10: 65.0,
  11: 91.0,
  12: 66.0},
 2023: {1: 160.0,
  2: 104.0,
  3: 215.0,
  4: 215.0,
  5: 172.0,
  6: 51.0,
  7: 67.0,
  8: 62.0,
  9: 54.0,
  10: 54.0},
 2024: {1: 155.0,
  2: 150.0,
  3: 191.0,
  4: 167.0,
  5: 120.0,
  6: 92.0,
  7: 63.0,
  8: 58.0,
  9: 43.0,
  10: 65.0,
  11: 91.0,
  12: 66.0}}

# Ici resaka CRENI

In [49]:
crenis1 = pd.read_excel('Datasets/Base-nut-creni-1.xlsx')
crenis = pd.read_excel('Datasets/Base-Nut-Creni.xlsx')

In [46]:
print(crenis1.isna().sum())
print(crenis1.shape)

periode                 1
region                  1
lieu_adm                1
district                1
tot_adm_proj          378
tot_adm                66
tot_sortie             20
tot_gueri             248
tot_deces             288
tot_abandon           309
tot_transfert         238
tot_autres_sorties    416
dtype: int64
(568, 12)

In [47]:
crenis2.isna().sum()
print(crenis2.shape)

(568, 12)

In [50]:
crenis['annee'] = crenas['periode'].dt.year
crenis['moi'] = crenas['periode'].dt.month

In [51]:
crenis

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_transfert,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
1,2020-02-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,2
2,2020-03-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3
3,2020-04-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,4
4,2020-05-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,2023-10-01,Anosy,creni,Betroka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,1
564,2023-10-01,Anosy,creni,Taolagnaro,NaN,1.0,NaN,0.0,NaN,NaN,0.0,NaN,2021,2
565,2023-10-01,Atsimo Andrefana,creni,Ampanihy Ouest,NaN,3.0,2.0,2.0,NaN,NaN,NaN,NaN,2021,3
566,2023-10-01,Atsimo Andrefana,creni,Betioky Atsimo,NaN,21.0,20.0,2.0,1.0,0.0,17.0,NaN,2021,4
567,2023-10-01,Atsimo Andrefana,creni,Toliara II,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,5

In [52]:
crenis = crenis.sort_values(by=['annee', 'moi'], ascending=[True, True])

In [54]:
crenis

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_transfert,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
31,2022-08-01,Anosy,creni,Amboasary Sud,13.0,6.0,6.0,3.0,2.0,1.0,0.0,0.0,2020,1
62,2022-03-01,Anosy,creni,Taolagnaro,3.0,1.0,2.0,0.0,0.0,0.0,2.0,NaN,2020,1
93,2022-03-01,Androy,creni,Ambovombe Androy,15.0,68.0,38.0,11.0,6.0,0.0,21.0,2.0,2020,1
124,2022-03-01,Androy,creni,Bekily,10.0,6.0,6.0,2.0,0.0,0.0,4.0,0.0,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,2023-04-01,Atsimo Atsinanana,creni,Midongy du Sud,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,2023,1
451,2023-05-01,Androy,creni,Bekily,NaN,11.0,14.0,2.0,0.0,1.0,11.0,NaN,2023,1
464,2023-06-01,Atsimo Atsinanana,creni,Midongy du Sud,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,2023,1
477,2023-06-01,Anosy,creni,Betroka,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,2023,1
490,2023-07-01,Vatovavy,creni,Ifanadiana,NaN,7.0,5.0,1.0,1.0,NaN,3.0,NaN,2023,1

In [55]:
crenis = crenis.rename(columns={"index" : "id_crenis"})
crenis.to_sql('nut_crenis', engine, if_exists='replace',index=False)

2025-04-01 07:59:43,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-01 07:59:43,648 INFO sqlalchemy.engine.Engine DESCRIBE `unicef_db`.`nut_crenis`
2025-04-01 07:59:43,650 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-01 07:59:43,710 INFO sqlalchemy.engine.Engine
CREATE TABLE nut_crenis (
	periode DATETIME,
	region TEXT,
	lieu_adm TEXT,
	district TEXT,
	tot_adm_proj FLOAT(53),
	tot_adm FLOAT(53),
	tot_sortie FLOAT(53),
	tot_gueri FLOAT(53),
	tot_deces FLOAT(53),
	tot_abandon FLOAT(53),
	tot_transfert FLOAT(53),
	tot_autres_sorties FLOAT(53),
	annee INTEGER,
	moi INTEGER
)


2025-04-01 07:59:43,711 INFO sqlalchemy.engine.Engine [no key 0.00112s] {}
2025-04-01 07:59:43,993 INFO sqlalchemy.engine.Engine INSERT INTO nut_crenis (periode, region, lieu_adm, district, tot_adm_proj, tot_adm, tot_sortie, tot_gueri, tot_deces, tot_abandon, tot_transfert, tot_autres_sorties, annee, moi) VALUES (%(periode)s, %(region)s, %(lieu_adm)s, %(district)s, %(tot_adm_proj)s, %(tot_adm)s, %(tot_sortie)s, %(tot_gueri)s, %(tot_deces)s, %(tot_abandon)s, %(tot_transfert)s, %(tot_autres_sorties)s, %(annee)s, %(moi)s)
2025-04-01 07:59:43,994 INFO sqlalchemy.engine.Engine [generated in 0.01032s] [{'periode': datetime.datetime(2020, 1, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'creni', 'district': 'Amboasary Sud', 'tot_adm_proj': None, 'tot_adm': 0.0, 'tot_sortie': 0.0, 'tot_gueri': None, 'tot_deces': None, 'tot_abandon': None, 'tot_transfert': None, 'tot_autres_sorties': None, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 8, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'creni', 'district': 'Amboasary Sud', 'tot_adm_proj': 13.0, 'tot_adm': 6.0, 'tot_sortie': 6.0, 'tot_gueri': 3.0, 'tot_deces': 2.0, 'tot_abandon': 1.0, 'tot_transfert': 0.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'creni', 'district': 'Taolagnaro', 'tot_adm_proj': 3.0, 'tot_adm': 1.0, 'tot_sortie': 2.0, 'tot_gueri': 0.0, 'tot_deces': 0.0, 'tot_abandon': 0.0, 'tot_transfert': 2.0, 'tot_autres_sorties': None, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'creni', 'district': 'Ambovombe Androy', 'tot_adm_proj': 15.0, 'tot_adm': 68.0, 'tot_sortie': 38.0, 'tot_gueri': 11.0, 'tot_deces': 6.0, 'tot_abandon': 0.0, 'tot_transfert': 21.0, 'tot_autres_sorties': 2.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'creni', 'district': 'Bekily', 'tot_adm_proj': 10.0, 'tot_adm': 6.0, 'tot_sortie': 6.0, 'tot_gueri': 2.0, 'tot_deces': 0.0, 'tot_abandon': 0.0, 'tot_transfert': 4.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Atsimo Andrefana', 'lieu_adm': 'creni', 'district': 'Ampanihy Ouest', 'tot_adm_proj': 14.0, 'tot_adm': 10.0, 'tot_sortie': 8.0, 'tot_gueri': 0.0, 'tot_deces': 1.0, 'tot_abandon': 0.0, 'tot_transfert': 7.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'creni', 'district': 'Tsihombe', 'tot_adm_proj': 6.0, 'tot_adm': 5.0, 'tot_sortie': 1.0, 'tot_gueri': 0.0, 'tot_deces': 0.0, 'tot_abandon': 1.0, 'tot_transfert': 0.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}, {'periode': datetime.datetime(2022, 3, 1, 0, 0), 'region': 'Androy', 'lieu_adm': 'creni', 'district': 'Beloha', 'tot_adm_proj': 10.0, 'tot_adm': 5.0, 'tot_sortie': 5.0, 'tot_gueri': 5.0, 'tot_deces': 0.0, 'tot_abandon': 0.0, 'tot_transfert': 0.0, 'tot_autres_sorties': 0.0, 'annee': 2020, 'moi': 1}  ... displaying 10 of 568 total bound parameter sets ...  {'periode': datetime.datetime(2023, 6, 1, 0, 0), 'region': 'Anosy', 'lieu_adm': 'creni', 'district': 'Betroka', 'tot_adm_proj': None, 'tot_adm': 1.0, 'tot_sortie': 1.0, 'tot_gueri': None, 'tot_deces': None, 'tot_abandon': None, 'tot_transfert': 1.0, 'tot_autres_sorties': None, 'annee': 2023, 'moi': 1}, {'periode': datetime.datetime(2023, 7, 1, 0, 0), 'region': 'Vatovavy', 'lieu_adm': 'creni', 'district': 'Ifanadiana', 'tot_adm_proj': None, 'tot_adm': 7.0, 'tot_sortie': 5.0, 'tot_gueri': 1.0, 'tot_deces': 1.0, 'tot_abandon': None, 'tot_transfert': 3.0, 'tot_autres_sorties': None, 'annee': 2023, 'moi': 1}]
2025-04-01 07:59:44,371 INFO sqlalchemy.engine.Engine COMMIT

568

In [57]:
queryCrenis = """
SELECT * 
FROM nut_crenis 
"""
df_nutcrenis = pd.read_sql(queryCrenis, engine)

2025-04-01 08:01:11,735 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-01 08:01:11,737 INFO sqlalchemy.engine.Engine DESCRIBE `unicef_db`.`
SELECT *
FROM nut_crenis
`
2025-04-01 08:01:11,738 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-01 08:01:11,741 INFO sqlalchemy.engine.Engine
SELECT *
FROM nut_crenis

2025-04-01 08:01:11,744 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-01 08:01:11,814 INFO sqlalchemy.engine.Engine ROLLBACK

In [58]:
df_nutcrenis

,periode,region,lieu_adm,district,tot_adm_proj,tot_adm,tot_sortie,tot_gueri,tot_deces,tot_abandon,tot_transfert,tot_autres_sorties,annee,moi
0,2020-01-01,Anosy,creni,Amboasary Sud,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
1,2022-08-01,Anosy,creni,Amboasary Sud,13.0,6.0,6.0,3.0,2.0,1.0,0.0,0.0,2020,1
2,2022-03-01,Anosy,creni,Taolagnaro,3.0,1.0,2.0,0.0,0.0,0.0,2.0,NaN,2020,1
3,2022-03-01,Androy,creni,Ambovombe Androy,15.0,68.0,38.0,11.0,6.0,0.0,21.0,2.0,2020,1
4,2022-03-01,Androy,creni,Bekily,10.0,6.0,6.0,2.0,0.0,0.0,4.0,0.0,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,2023-04-01,Atsimo Atsinanana,creni,Midongy du Sud,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,2023,1
564,2023-05-01,Androy,creni,Bekily,NaN,11.0,14.0,2.0,0.0,1.0,11.0,NaN,2023,1
565,2023-06-01,Atsimo Atsinanana,creni,Midongy du Sud,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,2023,1
566,2023-06-01,Anosy,creni,Betroka,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,2023,1
567,2023-07-01,Vatovavy,creni,Ifanadiana,NaN,7.0,5.0,1.0,1.0,NaN,3.0,NaN,2023,1